<% html_title "#{@version.name} - " + l(:version_burndown_charts) -%>
<% content_for :header_tags do %>
  <%= javascript_include_tag '/plugin_assets/open_flash_chart/javascripts/swfobject.js' %>
  <%= stylesheet_link_tag 'version_burndown_charts', :plugin => 'redmine_version_burndown_charts' %>
<% end %>

<% unless flash[:error] -%>
  <%= @graph %>
<% end -%>

<% content_for :sidebar do -%>
  <h3><%= l(:version_burndown_charts_version_info) %></h3>
  <div><strong><%=l(:version_burndown_charts_versions_name)%>:<%=link_to(@version.name, :controller => 'versions', :action => 'show', :id => @version.id) %></strong></div>
  <div>Estimated hours: <%=@estimated_hours%>h</div>
  <div>Spent hours: <%=@version.spent_hours%>h</div>
  <div>Total issues: <%=@version.issues_count%></div>
  <div>Open issues: <%=@version.open_issues_count%> (<%=@open_pourcent%>%)</div>
  <div>Closed issues: <%=@version.closed_issues_count%> (<%=@closed_pourcent%>%)</div>
  <div>Start date: <%=@start_date%></div>
  <div>Due date: <%=@version.due_date%></div>
  <div>Sprint span: <%=@sprint_range%> days</div>


  <h4><%= l(:version_burndown_charts_versions_open) %></h4>
  <dl>
    <% @open_versions.each do |version| -%>
      <dt<%= %Q[ class="selected"] if @version.id == version.id %>>
        <%= version.effective_date %>
      </dt>
      <dd>
        <%= link_to(version.name, :controller => 'version_burndown_charts', :action => 'index', :project_id => @project.id, :version_id => version.id.to_s) %>
      </dd>
    <% end -%>
  </dl>

  <h4><%= l(:version_burndown_charts_versions_locked) %></h4>
  <dl>
    <% @locked_versions.each do |version| -%>
      <dt<%= %Q[ class="selected"] if @version.id == version.id %>>
        <%= version.effective_date %>
      </dt>
      <dd>
        <%= link_to(version.name, :controller => 'version_burndown_charts', :action => 'index', :project_id => @project.id, :version_id => version.id.to_s) %>
      </dd>
    <% end -%>
  </dl>

  <h4><%= l(:version_burndown_charts_versions_closed) %></h4>
  <dl>
    <% @closed_versions.each do |version| -%>
      <dt<%= %Q[ class="selected"] if @version.id == version.id %>>
        <%= version.effective_date %>
      </dt>
      <dd>
        <%= link_to(version.name, :controller => 'version_burndown_charts', :action => 'index', :project_id => @project.id, :version_id => version.id.to_s) %>
      </dd>
    <% end -%>
  </dl>
<% end -%>
